.content {
  display: inline-block;
  /* clamp function is not supported (?) */
  font-size: 19px;
  line-height: 5vh;
  width: 45vw;
  max-width: 600px;
  min-width: 300px;
}
.illustration {
  margin: 20px;
  /* height: auto; This will overwrite margin*/ 
  width: 100%;
  max-width: 800px;
}
.contacts-icons {
  /* display: inline; */
  margin-right: 20px;
  width: 36px;
  height: auto;
}

 /* Animated underline effect, credit to: https://codepen.io/parkinson/pen/xdPrJL */
 .element {
	display: inline-block;
	padding-bottom: 3px;
}
.element:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	animation: underline 2s infinite;
}
@keyframes underline {
  0% { width: 0%; background-color: #42ddf5;}
  100% {width: 100%; background-color: transparent;}
}
